<h1>Welcome to Actor Hub!</h1>
<h2>Where D-level actors come to get C-level gigs!</h2>
<div>
  <img src="https://gubulldogblog.files.wordpress.com/2015/10/lets_do_this_creed.gif" alt="lets do this" />
</div>
<div class='button'> <%= link_to 'Enter', actors_path %> </div>
